<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>detail-house</title>
    </head>
    <body>
        <table style="width:50%" border="1">
            <tr>
                <th>GuestHouse</th>
                <th>Address</th>
                <th>City</th>
                <th>Price</th>
            </tr>
                <tr>
                    <td><%=dataH.name%></td>
                    <td><%=dataH.address%></td>
                    <td><%=dataH.city%></td>
                    <td><%=dataH.price%></td>
                </tr>
            </table>
            <br>
          <form class="" action="/houses/detail/<%=dataH.id%>" method="post">
            <fieldset>
              <legend>add comment and rating</legend>
              User : <select name="CustomerId">
                  <%dataCos.forEach(dc=>{%>
                    <option value="<%=dc.id%>"><%=dc.name%></option>
                  <%})%>
              </select>
              <br>
              Rating: <select name="rating">
                  <option value=1>Jelek</option>
                  <option value=2>Payah</option>
                  <option value=3>Lumayan</option>
                  <option value=4>Oke</option>
                  <option value=5>Mantap</option>
              </select><br>

              <textarea name=comment placeholder="beri komentar"></textarea><br>
              <input type="submit" value="Add">
              </fieldset>
            </form>

            <fieldset>
              <legend>comment and rating</legend>
              <table border="1">
                  <tr>
                      <th>Customers</th>
                      <th>Comment</th>
                      <th>Rating</th>
                  </tr>
                      <%dataCH.forEach(dch=>{%>
                      <tr>
                          <td><%=dch.name%></td>
                          <td><%=dch.comment%></td>
                          <td><%=dch.rating%></td>
                      </tr>
                      <%})%>
              </table>
              </fieldset>


            <a href="/houses">back</a>
    </body>
</html>
